<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}PDF QA System{% endblock %}</title>
    {% load static %}
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header>
        <h1>PDF Question Answering System</h1>
        <nav>
            <a href="index.html">Home</a> |
            <a href="{% url 'logout' %}">Logout</a> |
            <a href="login.html">Login</a> |





        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer >
        <p>&copy;Developed by URVISHA HIRAPARA</p>
    </footer>


 
</body>

</html>